name: CI Pipeline

on: 
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]


jobs:
    build-and-test:
        runs-on: ubuntu-latest
        
        steps:

        - uses: actions/checkout@v4
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.11.8'
            
        - name: Install dependencies
          run: |
              python -m pip install --upgrade pip
              pip install pytest coverage

        - name: Run tests with coverage
          run: | 
              coverage run -m unittest discover -s . -p "test*.py"

        - name: Coverage Report
          run: coverage report && coverage xml -o coverage.xml
              
        - name: Publicar coverage como artefacto
          if: always()
          uses: actions/upload-artifact@v4
          with:
            name: coverage-xml
            path: coverage.xml
